{% load foundation_tags %}
<script>
    // DEVELOPER NOTES:
    // - Requires "common_js.html" to be included before using this code.

    /**
     *  API endpoint used for registering users for a specific Academy.
     */
     function api_post_registrar(data, func_callback, func_error_callback)
     {
         var url = "{% tenant_reverse tenant.schema_name 'at_tenant_registrar_api_endpoint' %}?format=json";
         var type = "POST"; // Insert.

         jQuery.ajax({
             url: url,
             data: data,
             type: 'POST',
             traditional: true, // Note: This allows many-to-many arrays for Django REST Framework
             success: function(json_results){
                 func_callback(json_results);
             },
             error: function(xhr, status, error) {
                 func_error_callback(xhr, status, error);
             },
             complete: function(xhr,status) {
                 // Do nothing.
             }
         });
     }
</script>
