{% extends 'shared_foundation/shared_private_base.html' %}
{% load staticfiles i18n humanize foundation_tags %}

{% block title %}
{% trans 'Dashboard | Over 55' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<main id="main" role="main">
    <h1>Academy - {{ tenant.name }}</h1>
    <section class="row text-center placeholders">

        <a href="{% url 'at_tenant_academy_student_register' %}">Register students</a>

        <a href="{% url 'at_tenant_academy_student_list' %}">Student List</a>









    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>

{% endblock content %}
