{% extends 'shared_foundation/shared_private_base.html' %}
{% load staticfiles i18n humanize foundation_tags %}

{% block title %}
{% trans 'Dashboard | Academics Today WS' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}


<h2>Active Client List</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans '#' %}</th>
                <th>{% trans 'First Name' %}</th>
                <th>{% trans 'Last Name' %}</th>
                <th>{% trans 'Phone' %}</th>
                <th>{% trans 'E-Mail' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for student in student_list %}
            <tr>
                <td>{{ student.id|intcomma }}</td>
                <td>{% if student.first_name %}{{ student.first_name }}{% else %}-{% endif %}</td>
                <td>{% if student.last_name %}{{ student.last_name }}{% else %}-{% endif %}</td>
                <td>
                    {% if student.telephone %}<a href="tel:{{ student.telephone }}">{{ student.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
                </td>
                <td>{% if student.owner.email %}<a href="mailto:{{ student.email }}">{{ student.email }}</a>{% else %}-{% endif %}</td>
                <td>
                    <a href="{% url 'at_tenant_academy_student_retrieve' pk=student.pk %}">{% trans 'View' %}</a>
                </td>
            </tr>
            {% empty %}
            No students yet.
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}
