{% extends 'shared_foundation/shared_private_base.html' %}
{% load staticfiles i18n humanize %}

{% block title %}
{% trans 'Created Academy | Academics Today WS' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}


<main id="main" role="main">
    <h1>Finished Creating Academy</h1>
    <section class="row text-center placeholders">

    <p>You have finished registering your Academy! Please wait a few minutes while we finish building your Academy, when we are ready you will receive an email.</p>
    <br />
    <p>
        <a href="{% url 'at_dashboard_master' %}">OK, I understand</a>
    </p>


    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>

{% endblock content %}
