{% extends 'shared_foundation/shared_public_base.html' %}
{% load staticfiles i18n foundation_tags %}

{% block title %}
{% trans 'Register | Academics Today.' %}
{% endblock title %}

{% block content %}
<!-- JAVASCRIPT -->
<script>
    $(document).ready(function () {
        // Detect "Enter" button clicked and then auto-click on our submit button.
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_register_btn").click();
            }
        });

        // ALGORITHM:
        // (1) Check to see if our browser supports "HTML Storage" and if our
        //     browser does not then we need to redirect to an error page
        //     telling the user that they are missing that technology.
        // (2) If the browser supports "HTML Storage" then attempt to check to
        //     see if the browser currently has an API key saved. If the
        //     browser has an API key saved then redirect the app into the
        //     authenticated portal.
        if (api_is_supported()) {
            if (api_is_authenticated()) {
                // window.location = "{% get_app_domain %}";
            }
        } else {
            window.location = "{% get_app_domain %}{% url 'at_index_master' %}";
        }

    }); // end Document Start

    /**
     * Function will take the EMAIL and PASSWORD, submit the information to the
     * server and have either TRUE/FALSE
     */
    function ajax_register()
    {
        // Populate our data.
        var data = {
            'first_name':        $('#id_first_name').val(),
            'last_name':         $('#id_last_name').val(),
            'email':             $('#id_email').val().toLowerCase(),
            'password':          $('#id_password').val(),
            'password_repeated': $('#id_password_repeated').val(),
        }

        console.log(data);

        // Submit to the server.
        api_post_register(
            data,
            function(json_results) {
                if (json_results['status'] == 'Registered') {
                    // Load up our dashboard.
                    var url = "{% get_app_domain %}{% url 'at_register_detail' %}";
                    window.location = url;
                } else {
                    alert(json_results['reason']);
                }
            },
            function(xhr, status, error) {
                alert("Wrong register credentials.");
                // Convert the error json into string.
                // var string = JSON.stringify( error );
                // console.log(string);
            }
        ); // End Login
    }
</script>
<!-- end JAVASCRIPT -->




<div class="container">
   <div class="row">
      <div class="col-sm-12 text-center">
          <img class="img-fluid" src="{{ constants.AT_APP_HTTP_PROTOCOL }}{{ constants.AT_APP_HTTP_DOMAIN }}{% static 'img/at-logo.png' %}" alt="Logo" width="180px" />
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6 mx-auto">
         <form class="form-signin">
            <h2 class="form-signin-heading text-center mb-3">{% trans 'Please Fill out Register Form' %}</h2>
                <div class="form-group">
                    <input class="form-control" placeholder="{% trans 'First Name' %}" name="first_name" type="text" autofocus id="id_first_name" autocapitalize="off" />
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="{% trans 'Last Name' %}" name="last_name" type="text" autofocus id="id_last_name" autocapitalize="off" />
                </div>

                <div class="form-group">
                    <input class="form-control" placeholder="{% trans 'E-mail' %}" name="email" type="email" autofocus id="id_email" autocapitalize="off" />
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="{% trans 'Password' %}" name="password" type="password" value="" id="id_password" autocapitalize="off" />
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="{% trans 'Repeat Password' %}" name="repeatpassword" type="password" value="" id="id_password_repeated" autocapitalize="off" />
                </div>

                <div class="checkbox">
                    <label>
                        <input name="remember" type="checkbox" value="Remember Me">{% trans 'I agree to the terms.' %}
                    </label>
                </div>


            <input type="button" value="{% trans 'Submit' %}" class="btn btn-lg btn-primary btn-block" onclick="ajax_register();">
            <h5 class="text-center mt-3 mb-3">
            <a href="{% url 'at_login_master' %}" class="text-primary plain-link">{% trans 'Cancel' %}</a></h2>
         </form>
      </div>
   </div>
</div>
<!-- /container -->

<!-- end CONTENT -->
{% endblock content %}
